.loading-spinner {
    width: 100px;
    height: 100px;
    animation-name: spin;
    animation-duration: 4000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear; 

    margin: auto;
  }

.loading-spinner-container {
    margin-top: 5rem;
    display: flex;
}
  
  @keyframes spin {
      from {
          transform:rotate(0deg);
      }
      to {
          transform:rotate(360deg);
      }
  }